.google-auth-btn {
  border: 1px solid #787a7e !important;
  box-shadow: none !important;
  font-size: 1.6rem !important;
  width: 100% !important;
  justify-content: center !important;
}

.facebook-auth-btn {
  color: #fff;
  background: #4267b2;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 2px;
  height: 43px;
  width: 100%;
  font-size: 1.6rem !important;
}

.facebook-auth-btn i {
  margin-right: 10px;
}
